IOPDemo {

    iibEnv = "DEV"
    versionMajor = "1"
    versionMinor = "0"
    barfileDir = "BARfiles"
    applications = ["HTTPESQLEchoApp", "HTTPJavaEchoApp"]
    libraries = ["HTTPEchoLib"]
    projects = ["TestClient"]
    deployAsSource = "true"
    soapUIProject = "None"
    soapUIParams = "-r -j"

    integrationNodes {
      intNode1 {
    		host = "localhost"
        port = "4415"
        intNode = "TESTNODE_iibuser"
        intServer = "default"
    }
  }
}
