APPL1 {
    iibEnv = "DEV"
    appName = "appl1"
    version = "1.0"
    barfileDir = "BARfiles"
    paramsMQSICreateBarfile = "-a Application1"
    soapUIProject = "APPL1-soapui-project.xml"
    soapUIParams = "-r -j"

    integrationNodes {
      intNode1 {
    		host = "localhost"
        port = "4415"
        intNode = "TESTNODE_iibuser"
        intServer = "default"
      }
    }
  }
