APPL1 {
    iibEnv = "DEV"
    appName = "transform"
    version = "1.0"
    barfileDir = "BARfiles"
    paramsMQSICreateBarfile = "-a Transformation_Map"
    soapUIProject = "None"
    soapUIParams = "-r -j"

    integrationNodes {
      intNode1 {
    		host = "localhost"
        port = "4415"
        intNode = "TESTNODE_iibuser"
        intServer = "default"
      }
    }
  }
